################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SqliteIntro/bin/Debug/netcoreapp3.1
/SqliteIntro/obj/Debug/netcoreapp3.1
/SqliteIntro/obj/Release/netcoreapp3.1
/.vs
/SqliteIntro/obj
